:root {
    //Colours

    --green: hsl(140, 55%, 64%);
    --blue: hsl(236, 22%, 26%);
    --box-color: hsl(150, 20%, 98%);
    --body: hsl(0, 0%, 97%);
    --highlight: hsl(354, 55%, 64%);

    // Font to use for

    --body: 'Inconsolata', monospace;
    --title: 'Source Code Pro', monospace;

    //Shadows

    --box-shadow: 0px 15px 40px rgba(51, 53, 80, 0.03);
}

//For font-sizes

$fontSize: (
    'h1': 4rem,
    'h2': 2.1rem,
    'h3': 2.2rem,
    'regular': 1.7rem,
    'price': 2.5rem,
);
