@use '../abstracts/' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    @include breakpoint(laptop) {
        font-size: 70.5%;
    }
}

body {
    position: relative;
    background-color: var(--body);
    font-size: map-get($fontSize, regular);
    font-family: var(--body);
}
