

mixin box 

    .swiper.boxSlider 
        .swiper-wrapper  
           -let slide = 5
                - for (let i=1; i<=slide; i++) {
                    .swiper-slide
                       .swiper-slide__container 
                            .swiper-slide__container__top
                                img(src="../public/img/btc.svg" alt="icon-crypto")
                                .swiper-slide__container__top--content
                                    .h2 btc
                                    span
                                    p usd
                            .swiper-slide__container__bottom
                                img(src="../public/img/chart-evaluation.svg", alt="")
                                p $10,000                        

                - }