mixin form
    form.form(action="#")#form
        .form__field
            select.select( name="currency")#currency
                option( selected="true" disabled="disabled") Select your currency
                option( value= 'GBP') British pound
                option( value= 'USD') American Dollars
                option( value= 'EUR') Euro
            select.select( name="cryptocurrency")#cryptocurrency
                option( selected="true" disabled="disabled") Select your cryptocurrency 
                //Loaded dynamic
                //- option( value= 'BTC' name="BTC") British pound
        button.btn(type="submit") Get price details
        span.line

           
            
